@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Ubuntu Condensed', sans-serif; */
}

body {
  display: flex;
  background-color: white;
}

.left-side {
  position: relative;
}

.left-side img[src="img/leaves.jpg"] {
  display: block;
  object-fit: cover;
  height: 100vh;
  width: 40vw;
  margin-bottom: 0;
}

#test {
  background-color: gray;
}

.logo {
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 5px;
  font-weight: 900;
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 150px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  font-size: 50px;
  color: white;
}

.logo img {
  width: 70px;
  position: relative;
  top: 10px;
  right: 10px;
}

.logo p {
  position: relative;
}

.left-side {
  display: flex;
  justify-content: center;
}

#credit {
  position: absolute;
  color: white;
  bottom: 10px;
  font-size: 12px;
}

.right-side {
  padding-top: 80px;
  background-color: black;
  font-size: 20px;
  color: rgb(200,200,200);
}

.right-side p {
  margin-left: 40px;
  margin-right: 40px;
}

div.form {
  background-color: rgb(26, 26, 26);
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#stand-out-text {
  margin-top: 40px;
  margin-bottom: 70px;
}

.right-side p:last-child:not(.form p) {
  font-size: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.form .row {
  display: flex;
  gap: 50px;
  margin-left: 40px;
  margin-top: 20px;
}

.form label {
  font-size: 15px;
  color: rgb(141, 141, 141);
  margin-bottom: 2px;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.form input {
  width: 20vw;
  height: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(170, 170, 170);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(170, 170, 170);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(170, 170, 170);
}

#fields-tip {
  margin-top: 15px;
  font-size: 12px;
  color: rgb(141, 141, 141);
}

button {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 7px 30px;
  font-size: 20px;
  background-color: rgb(129, 0, 0);
  border-style: none;
  color: rgb(236, 236, 236);
  border-radius: 2px;
  font-weight: 900;
  cursor: pointer;
}

button:hover {
  background-color: rgb(160, 0, 0);
}

button:active {
  background-color: rgb(172, 50, 50)
}

.right-side a {
  color: rgb(179, 0, 0);
  font-weight: 800;
}


/* Password validation */
.password-validation {
  display: none;
  width: 100px;
  font-size: 10px;
  margin-top: 7px;
}

.password-validation p {
  margin: 0;
  margin-left: 5px;
}

.valid {
  color: rgb(90, 255, 90);
}

.valid:before {
  position: relative;
  left: -5px;
  content: "✓";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -5px;
  content: "";
}

#second-password {
  color: black;
}

.match {
  font-size: 10px;
  position: relative;
  top: 7px;
  right: 35px;
  display: none;
}

/* mobile */

@media screen and (max-width: 800px)
{
  .left-side {
    display: none;
  }

  .field-container {
    width: auto;
  }

  .form input {
    width: auto;
  }

  .right-side {
    height: 100vh;
  }

}